<!DOCTYPE html>
<html lang="en">
<head><%- include('./partials/head') %></head>
<body>
    <header><%- include('./partials/header') %></header>

    <article>
        <% articles.forEach(article => { %>
            <article>
                <h2><%= article.title %></h2>
                <h1><%= article.title %></author>
                <p><%= article.text %></p>
                <span><%= article.tag %></span>
            </article>
        <% }); %>
    </article>
    
    <footer><%- include('./partials/footer') %></footer>
</body>
</html>